.App {
  text-align: center;
}

.ftn{
  font-family: Arial,FontAwesome;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
/* Semantic UI changing styles USERPAGE HEADER*/
.userpagelinks .ui.black.buttons .button {
  background-color: rgb(241, 67, 3);
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.userpagelinks .ui.black.buttons .button:hover {
  background-color: red;
  color: #fff;
  text-shadow: none;
  background-image: none;
}


.signupinput .ui.form .equal.width.fields .required.field.firstnameError .ui.fluid.input input:not(:placeholder-shown):invalid{
  border: red;
  box-shadow: 0 0 1px 1px red;
}
.signupinput .ui.form .equal.width.fields .required.field.lastnameError .ui.fluid.input input:not(:placeholder-shown):invalid{
  border: red;
  box-shadow: 0 0 1px 1px red;
}
.signupinput .ui.form .equal.width.fields .required.field.telephoneError .ui.fluid.input input:not(:placeholder-shown):invalid{
  border: red;
  box-shadow: 0 0 1px 1px red;
}
.signupinput .ui.form .equal.width.fields .field.signemail .ui.fluid.input input:not(:placeholder-shown):invalid{
  border: red;
  box-shadow: 0 0 1px 1px red;
}
.signupinput .ui.form .equal.width.fields .required.field.passwordVal{
  margin-bottom: 4px;
}

.signupinput .ui.form .equal.width.fields span{
  padding-top: 2px;
  padding-left: 7px;
  font-size: 10px;
  color:red;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
